@model global::Server.Models.ControllerModel

@{
    ViewBag.Title = "Controller";
}

@using (Html.BeginForm("Controller", "Index", FormMethod.Post))
{
    <label>Enter command:</label>
    @Html.EditorFor(model => @Model.Command);
    <input type="submit" value="Send" />
}